.text-css{
    font-family: 'Foldit', sans-serif;
    font-family: 'Lobster', sans-serif;

}
.text-css-h1{
font-family: 'Young Serif', serif;
}

.navbar.fixed{
    background-color: aliceblue;
    transition: 3s ease-in-out;
    
}

.aboutUs{
    font-family: 'Poltawski Nowy', serif;
}

.line-loader {
    background-image: linear-gradient(
      to right,
      transparent,
      #342de9,
      #fb12ff,
      #16aee1,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
    background-size: 200% 100%;
    animation: line-loader 2s infinite linear;
  }
  
  @keyframes line-loader {
    from {
      background-position: 100%
    }
    to {
      background-position: -100%
    }
  }