.text-css{
    font-family: 'Foldit', sans-serif;
    font-family: 'Lobster', sans-serif;

}
.text-css-h1{
font-family: 'Young Serif', serif;
}

.navbar.fixed{
    background-color: aliceblue;
    transition: 3s ease-in-out;
    
}

.aboutUs{
    font-family: 'Poltawski Nowy', serif;
}

.line-loader {
    background-image: linear-gradient(
      to right,
      transparent,
      #342de9,
      #fb12ff,
      #16aee1,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
    background-size: 200% 100%;
    animation: line-loader 3s infinite linear;
  }
  
  @keyframes line-loader {
    from {
      background-position: 100%
    }
    to {
      background-position: -100%
    }
  }

.box {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}

.box::before {
        content: '';
        position: absolute;
        width: 150px;
        height: 80%;
        background: linear-gradient(#16aee1,#fb12ff);
        animation: animate 4s linear infinite;
    }
    .box::after{
      content: '';
      position: absolute;
      inset: 4px;
      background: white;
    }
@keyframes animate {
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(350deg);
  }
}
.contenedor{
  position: relative;
  height: 70rem ;
  width: 40rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-radius: 20px;
  

}
.contenedor::before{
  content: '';
  position: absolute;
  width: 50rem;
  height: 80rem;
  background-image: conic-gradient(transparent,transparent,#00ccff);
  animation:  animate 4s linear infinite;
}
.contenedor::after{
  content: '';
  position: absolute;
  width: 50rem;
  height: 80rem;
  background-image: conic-gradient(transparent,transparent,#d400d4);
  animation:  animate 4s linear infinite;
  animation-delay: -2s;
}